<strong> Olá, {{ provider }}</strong>
<p> Houve um cancelamento de horário, confira nos detalhes abaixo</p>
<p>
    Cliente: <strong>{{ user }}</strong> fez um cancelmanto de um agendamento de serviço.
</p>
<p>{{ date }}</p>